[submodule "City-University-Timetabling"]
	path = City-University-Timetabling
	url = https://github.com/TabLand/City-University-Timetabling
[submodule "timetabling"]
	path = timetabling
	url = https://github.com/TabLand/timetabling
[submodule "blues-clues-inator"]
	path = blues-clues-inator
	url = https://github.com/TabLand/blues-clues-inator
