[submodule "blues-clues-inator"]
	path = www/blues-clues-inator
	url  = https://github.com/TabLand/blues-clues-inator
[submodule "dine_me"]
	path = www/dine_me
	url  = https://github.com/TabLand/dine_me.git
[submodule "SpongeBobWavePants"]
	path = www/SpongeBobWavePants
        url  = https://github.com/TabLand/SpongeBobWavePants.git
[submodule "rob_me"]
	path = www/rob_me
	url = https://github.com/TabLand/rob_me.git
[submodule "www/The-Rambling-Cartographer"]
	path = www/The-Rambling-Cartographer
	url = https://github.com/TabLand/The-Rambling-Cartographer
