IndexOptions +Charset=UTF-8
ErrorDocument 404 http://ijtaba.me.uk/404.html
Redirect /hire_me https://docs.google.com/document/d/1CqBt00J1lqQeZGMYASBq7q9rCWv_sF_Lw3ZdZk1d2D0
Redirect /plus https://plus.google.com/108238868547431605366/posts
Redirect /fb https://www.facebook.com/ijtaba
Redirect /facebook https://www.facebook.com/ijtaba
Redirect /call_me_maybe /call
Redirect /call tel:00447876363428
Redirect /text sms:00447876363428
Redirect /sms /text
Redirect /email mailto:ijtabahussain@live.com
