@font-face
{
font-family: cicle;
src: url(Cicle_Gordita.ttf);
}

body,input {
	font-family:'Josefin Sans',cicle;
	font-size: 2em;
}
a    {
	text-decoration: none;
	color: yellow;
}
body {
	background-color: black;
	color: white;
	width: 100%;
    overflow-x: hidden;
	text-align: center;
}

.telephony {
	font-size: 10em;
}
