<VirtualHost *:80>
    ServerName  {{ ssl_domains | join("\n    ServerAlias ") }}
    ServerAdmin "{{ email }}"
    DocumentRoot /var/www/html
    AccessFileName ".htaccess"
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
<Directory "/var/www/html">
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted 
</Directory>
