
body,input, a {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 2.75vw;
}

@media screen and (min-width: 601px) {
  body, input, a {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 600px) {
  body, input, a {
    font-size: 2.75vw;
  }
}

a {
  text-decoration: underline;
  font-weight: bold;
}

a,a:hover{
  color: #ce94d6;
}

.purple {
  color: white;
  background-color: #300139;
}

body {
  overflow-x: hidden;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

img {
  margin: 0 auto 0 auto;
  width: 75%;
}

iframe.tour {
  width: 75%;
  height: calc(75vw*480/853);
}
